<div class="main-form">

  <h3>Forgot Password</h3>

  <p>Please enter your email address to request a password reset.</p>

  <form #homeform="ngForm" class="form">

    <mat-form-field appearance="outline" hideRequiredMarker=true>
      <mat-label>Email</mat-label>
      <input type="email" name="email" matInput required #passwordResetEmail placeholder="Ex. pat@example.com">
    </mat-form-field>

    <button mat-flat-button color="primary" type='button' (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</button>
  </form>

  <div class="redirectToLogin">
    <span>Go back to? <span class="redirect" routerLink="/login">Log In</span></span>
  </div>
</div>
