<!-- Top navigation -->
<mat-toolbar>
  <mat-progress-bar *ngIf="spinner==0" mode="indeterminate"></mat-progress-bar>

  <mat-toolbar-row>
    <a style="display: flex" class="rounded-circle">
      <img class="brand-logo" src="/favicon.ico" alt="favivon.io Logo">
    </a>

    <div class="spinner-container">
      <mat-spinner *ngIf="spinner==1"  strokeWidth="9"
        matTooltip="Await"
        matTooltipClass="tooltip"
        matTooltipPosition="below"></mat-spinner>

      <mat-icon *ngIf="spinner==2" color="primary"
        aria-label="task_alt"
        matTooltip="All data is update"
        matTooltipClass="tooltip"
        matTooltipPosition="below"
      >task_alt</mat-icon>
    </div>

    <span class="app-spacer"></span>

    <div *ngIf="authService.userData as user" style="display: flex;"

        [matMenuTriggerFor]="beforeMenu"

        matTooltip="{{user.displayName ? user.displayName : 'User'}}, {{user.email}}"
        matTooltipClass="tooltip"
        matTooltipPosition="below"
        matTooltipShowDelay="600"
        matTooltipHideDelay="0">

      <button *ngIf="user.photoURL==null; else img" mat-icon-button color="primary"
        style="display: flex;">
        <mat-icon class="rounded-circle img-navbar" style="color: var(--text-dark)">account_circle</mat-icon>
      </button>

      <ng-template #img>
        <button mat-icon-button color="primary" style="display: flex;">
          <img class="rounded-circle img-navbar" src="{{user.photoURL}}" alt="{{user.displayName}}">
        </button>
      </ng-template>

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div class="info-menu">

          <img *ngIf="user.photoURL!=null; else img2" class="rounded-circle" style="height: 62px;" src="{{user.photoURL}}" alt="{{user.displayName}}">
          <ng-template #img2>
            <mat-icon class="rounded-circle" style="font-size: 62px; color: var(--text-dark); height: 62px;width: 62px;">account_circle</mat-icon>
          </ng-template>

          <p>{{user.displayName ? user.displayName : 'User'}}</p>
          <p>{{user.email}}</p>
          <!--<p >User ID: <strong>{{user.uid}}</strong></p>-->
        </div>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>User Profile
        </button>
        <button mat-menu-item (click)="SignOut()" aria-label="logout">
          <mat-icon>logout</mat-icon>Log out
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>
</mat-toolbar>


<!-- Sidebar navigation -->
<div class="container-fluid">

  <div class="card">
    <div class="box-slider">
      <!--<mat-slider step="0.5" max="30" min="16" discrete>
        <input matSliderThumb type="range" [(ngModel)]="valueRange" (change)="changeTmp()">
      </mat-slider>-->

      <app-circular-slider [(valueRange)]="valueRange" (change)="changeTmp()" [disabled]="disabledGuage"></app-circular-slider>

      <div class="continer-button">
        <button mat-icon-button (click)="valueRange = valueRange - 0.5; changeTmp()" [disabled]="disabledGuage" aria-label="up">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-icon-button (click)="valueRange = valueRange + 0.5; changeTmp()" [disabled]="disabledGuage" aria-label="down">
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </div>

    <div class="box-radio">

      <!--<mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option>One fish</mat-chip-option>
        <mat-chip-option>Two fish</mat-chip-option>
        <mat-chip-option color="accent" selected>Accent fish</mat-chip-option>
        <mat-chip-option color="warn">Warn fish</mat-chip-option>
      </mat-chip-listbox>-->

      <form>
        <button class="button_chip" mat-flat-button
          (click)="changeChip('auto')"
          [color]="mod=='auto' ? 'primary' : ''"
          [disabled]="disabled">
          <mat-icon *ngIf="mod=='auto'" @fadeInWidth>checked</mat-icon>Auto</button>
        <button class="button_chip" mat-flat-button
          (click)="changeChip('manual')"
          [color]="mod=='manual' ? 'primary' : ''"
          [disabled]="disabled">
          <mat-icon *ngIf="mod=='manual'" @fadeInWidth>checked</mat-icon>Manual</button>
        <button class="button_chip" mat-flat-button
          (click)="changeChip('off')"
          [color]="mod=='off' ? 'primary' : ''"
          [disabled]="disabled">
          <mat-icon *ngIf="mod=='off'" @fadeInWidth>checked</mat-icon>Off</button>
      </form>

      <div class="info-container">
        <p style="margin: 0">
          Temperature Indoor:
          <span style="color: var(--mat-expansion-header-description-color)">
            {{InChart != undefined ? InChart[InChart.length - 1].tmp : ""}}°C
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="card programmazione">
    <!--<table mat-table [dataSource]="dataSource">

      <!-- ora Column
      <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.ora}} </td>
      </ng-container>

      <!-- temp Column
      <ng-container matColumnDef="Temp">
        <th mat-header-cell *matHeaderCellDef> Temp </th>
        <td mat-cell *matCellDef="let element"> {{element.temp}} </td>
      </ng-container>

      <!-- action Column
      <ng-container matColumnDef="star" stickyEnd>
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                  [matMenuTriggerFor]="beforeDelete" [disabled]="disabled">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #beforeDelete="matMenu" xPosition="before">
            <button mat-menu-item (click)="this.firebaseService.setProg({ora: time_tino(element.ora), temp: null})">
              <mat-icon>delete</mat-icon> Elimina
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>-->

    <mat-accordion>
      <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Time</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Temp</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let e of prog" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.ora}}
          </mat-panel-title>
          <mat-panel-description>
            {{e.temp}}°C
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex; justify-content: space-evenly;">

          <button mat-stroked-button [disabled]="disabled" aria-label="edit"
          (click)="openDialog({ora: time_tino(e.ora), temp: e.temp})"
          matTooltip="edit"
          matTooltipClass="tooltip"
          matTooltipPosition="below"><mat-icon>edit</mat-icon>Edit</button>

          <button mat-stroked-button [disabled]="disabled" aria-label="delete" color="warn"
          (click)="this.firebaseService.setProg({ora: time_tino(e.ora), temp: null})"
          matTooltip="delete"
          matTooltipClass="tooltip"
          matTooltipPosition="below"><mat-icon>delete</mat-icon>Delete</button>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <div style="height: 64px;"></div>

    <button mat-fab color="primary" class="button_add" (click)="openDialog(null)" [disabled]="disabled" aria-label="add"
      matTooltip="Add event"
      matTooltipClass="tooltip"
      matTooltipPosition="below">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="card">
    <mat-accordion>
      <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Misure</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Value</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let e of outDoor" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.type}}
          </mat-panel-title>
          <mat-panel-description>
            {{e.value}}
          </mat-panel-description>
        </mat-expansion-panel-header>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!--<div class="card">
    <h4 style="margin: 0">Outdoor</h4>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Temp:
          </mat-panel-title>
          <mat-panel-description>
            {{OutChart != undefined ? OutChart[OutChart.length - 1].tmp : ""}}°C
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <a href="https://tinotino.altervista.org/">link al grafico</a>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Hum:
          </mat-panel-title>
          <mat-panel-description>
            {{OutChart != undefined ? OutChart[OutChart.length - 1].hum : ""}}%
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <a href="https://tinotino.altervista.org/">link al grafico</a>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pres:
          </mat-panel-title>
          <mat-panel-description>
            {{OutChart != undefined ? OutChart[OutChart.length - 1].pres : ""}}hPa
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <a href="https://tinotino.altervista.org/">link al grafico</a>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Batt:
          </mat-panel-title>
          <mat-panel-description>
            {{OutChart != undefined ? OutChart[OutChart.length - 1].bat : ""}}V
          </mat-panel-description>
        </mat-expansion-panel-header>
        <a href="https://tinotino.altervista.org/">link al grafico</a>
      </mat-expansion-panel>
    </mat-accordion>

    <button mat-stroked-button (click)="setOutdoor(86400)" class="button_reload" [disabled]="disabled"
      matTooltip="Reload"
      matTooltipClass="tooltip"
      matTooltipPosition="below">
        Last Date:
        <span style="color: var(--mat-expansion-header-description-color);">
          {{(OutChart != undefined ? lastDate : "")}}
        </span>
    </button>
  </div>-->

  <div class="card">
    <mat-accordion>
      <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Error</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Time</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let e of InError" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.type}}
          </mat-panel-title>
          <mat-panel-description>
            {{e.data_short}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{e.data_long}}
        <br><br>
        {{e.msg}}
      </mat-expansion-panel>
    </mat-accordion>
  </div>



  <div class="card graph">
    <h4 style="margin: 0">Indoor</h4>
    <app-line-chart code="Chart" [dati]="InChart" labelX="x"
       labelY1="rele" color1="#4dc9f6" typeAxisY1="category"
       labelY2="tmp"  color2="#f67019"
       labelY3="des"  color3="#f53794"
       labelY4="hum"  color4="#ffce56"></app-line-chart>
  </div>

  <div class="card graph--big" >
    <h4 style="margin: 0">Historical</h4>
    <app-column-chart code="historicalChart" [dati]="historicalChart" labelX="x"
       labelY1="2022-2023" color1="#4dc9f6"
       labelY2="2023-2024" color2="#f67019"></app-column-chart>
  </div>

</div>
