<!-- Top navigation -->
<mat-toolbar>
  <mat-progress-bar *ngIf="spinner==0" mode="indeterminate" color="color: var(--text-dark);"></mat-progress-bar>

  <mat-toolbar class="mat-toolbar">
  <mat-toolbar-row>

    <div style="display: flex" class="rounded-circle">
      <img class="brand-logo" src="/favicon.ico" alt="favivon.io Logo"
        matTooltip="Tino's App"
        matTooltipClass="tooltip"
        matTooltipPosition="below">
    </div>

    <div class="spinner-container">
      <mat-spinner *ngIf="spinner==1"  strokeWidth="2" diameter="21"
        matTooltip="Await"
        matTooltipClass="tooltip"
        matTooltipPosition="below"></mat-spinner>

      <mat-icon *ngIf="spinner==2" style="color: var(--text-dark);"
        matTooltip="All data is update"
        matTooltipClass="tooltip"
        matTooltipPosition="below"
      >task_alt</mat-icon>
    </div>

    <span class="app-spacer"></span>

    <div *ngIf="authService.userData as user" style="display: flex;"

        [matMenuTriggerFor]="beforeMenu"

        matTooltip="{{user.displayName ? user.displayName : 'User'}}, {{user.email}}"
        matTooltipClass="tooltip"
        matTooltipPosition="below"
        matTooltipShowDelay="600"
        matTooltipHideDelay="0">

      <button *ngIf="user.photoURL==null; else img" mat-icon-button color="primary"
        style="display: flex;">
        <mat-icon class="rounded-circle img-navbar" style="color: var(--text-dark)">account_circle</mat-icon>
      </button>

      <ng-template #img>
        <button mat-icon-button color="primary" style="display: flex;">
          <img class="rounded-circle img-navbar" src="{{user.photoURL}}" alt="{{user.displayName}}">
        </button>
      </ng-template>

      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <div class="info-menu">

          <span style="margin-bottom: 14px; color: var(--mat-expansion-header-description-color)">{{user.email}}</span>

          <img *ngIf="user.photoURL!=null; else img2" class="rounded-circle" style="height: 74px;" src="{{user.photoURL}}" alt="{{user.displayName}}">
          <ng-template #img2>
            <mat-icon class="rounded-circle" style="font-size: 62px; color: var(--text-dark); height: 62px;width: 62px;">account_circle</mat-icon>
          </ng-template>

          <span style="margin: 8px 0px; font-size: large;">Ciao {{user.displayName ? user.displayName.split(" ")[0] : 'User'}}</span>
          <!--<p >User ID: <strong>{{user.uid}}</strong></p>-->
        </div>
        <button mat-menu-item>
          <mat-icon>person</mat-icon>User Profile
        </button>
        <button mat-menu-item (click)="SignOut()" aria-label="logout">
          <mat-icon>logout</mat-icon>Log out
        </button>
      </mat-menu>
    </div>

  </mat-toolbar-row>
  </mat-toolbar>
</mat-toolbar>


<!-- Sidebar navigation -->
<div class="container-fluid">

  <div class="card">
    <div class="box-slider">

      <app-circular-slider
        [(valueRange)]="valueRange"
        [target] = "InChart != undefined ? InChart[InChart.length - 1].tmp : null"
        (change)="changeTmp()"
        [disabled]="disabledGuage"
        [prev]="prev | getPrev"></app-circular-slider>

      <div class="continer-button">
        <button mat-icon-button (click)="valueRange = valueRange - 0.5; changeTmp()" [disabled]="disabledGuage" aria-label="up">
          <mat-icon>expand_more</mat-icon>
        </button>
        <button mat-icon-button (click)="valueRange = valueRange + 0.5; changeTmp()" [disabled]="disabledGuage" aria-label="down">
          <mat-icon>expand_less</mat-icon>
        </button>
      </div>
    </div>

    <div class="box-radio">
      <!--<form>
        <button class="button_chip" mat-flat-button
          (click)="changeChip('auto')"
          [color]="mod=='auto' ? 'primary' : ''"
          [disabled]="disabled">
          <mat-icon *ngIf="mod=='auto'" @fadeInWidth>checked</mat-icon>Auto</button>
        <button class="button_chip" mat-flat-button
          (click)="changeChip('manual')"
          [color]="mod=='manual' ? 'primary' : ''"
          [disabled]="disabled">
          <mat-icon *ngIf="mod=='manual'" @fadeInWidth>checked</mat-icon>Manual</button>
        <button class="button_chip" mat-flat-button
          (click)="changeChip('off')"
          [color]="mod=='off' ? 'primary' : ''"
          [disabled]="disabled">
          <mat-icon *ngIf="mod=='off'" @fadeInWidth>checked</mat-icon>Off</button>
      </form>-->

      <mat-chip-listbox aria-label="Cutest dog breeds">
        <mat-chip-option [disabled]="disabled" (click)="changeChip('auto')"   [selected]="mod=='auto'">auto</mat-chip-option>
        <mat-chip-option [disabled]="disabled" (click)="changeChip('manual')" [selected]="mod=='manual'">manual</mat-chip-option>
        <mat-chip-option [disabled]="disabled" (click)="changeChip('off')"    [selected]="mod=='off'">off</mat-chip-option>
      </mat-chip-listbox>

      <div class="info-container">
        <p style="margin: 0">
          Temperature Indoor:
          <span style="color: var(--mat-expansion-header-description-color)">
            {{InChart != undefined ? InChart[InChart.length - 1].tmp : ""}}°C
          </span>
        </p>
      </div>

    </div>
  </div>

  <div class="card programmazione">
    <mat-accordion>
      <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Time</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Temp</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let e of prog" class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{e.ora}}
          </mat-panel-title>
          <mat-panel-description>
            {{e.temp}}°C
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div style="display: flex; justify-content: space-evenly;">

          <button mat-stroked-button [disabled]="disabled" aria-label="edit" class="button_modify"
          (click)="openDialog({ora: time_tino(e.ora), temp: e.temp})"
          matTooltip="edit"
          matTooltipClass="tooltip"
          matTooltipPosition="below"><mat-icon>edit</mat-icon>Edit</button>

          <button mat-stroked-button [disabled]="disabled" aria-label="delete" class="button_modify"
          (click)="this.firebaseService.setProg({ora: time_tino(e.ora), temp: null})"
          matTooltip="delete"
          matTooltipClass="tooltip"
          matTooltipPosition="below"><mat-icon>delete</mat-icon>Delete</button>

        </div>
      </mat-expansion-panel>
    </mat-accordion>


    <div style="height: 64px;"></div>

    <button mat-fab color="primary" class="button_add" (click)="openDialog(null)" [disabled]="disabled" aria-label="add"
      matTooltip="Add event"
      matTooltipClass="tooltip"
      matTooltipPosition="below">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="card">
    <h4 style="margin: 0">Outdoor</h4>
    <mat-accordion>
      <div *ngIf="outDoor!=null; then NotErrorOut else ErrorOut"></div>

      <ng-template #NotErrorOut>
        <div *ngFor="let e of outDoor">
          <explaining-panel [dati]="{first: e.type, second: e.valuePath}"></explaining-panel>
        </div>

        <button mat-mini-fab extended class="button_meteo"(click)="ngOnInit()">
          Last Date:
          <span style="color: var(--mat-expansion-header-description-color);">
            {{outDoor!=null ? outDoor[0].date : ""}}
          </span>
        </button>
      </ng-template>

      <ng-template #ErrorOut>
        <!--<div *ngIf="spinner!=0" style="
          margin: auto;
          color: var(--mat-expansion-header-description-color);
          padding: 16px;">
          Meteo not works :)
        </div>-->
        <div style="display: flex; height: 90%; min-height: 230px;">
          <button *ngIf="spinner!=0" mat-fab extended class="button_meteo"(click)="ngOnInit()">
            <mat-icon>downloading</mat-icon>
            Reload
          </button>
        </div>
      </ng-template>

    </mat-accordion>

  </div>

  <div class="card">
    <mat-accordion>
      <mat-expansion-panel disabled="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Type</h4>
          </mat-panel-title>
          <mat-panel-description>
            <h4 style="margin: 0px; color: var(--mat-expansion-header-text-color) !important;">Time</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <div *ngIf="InError!=null; then NotError else Error"></div>
      <ng-template #NotError>
        <mat-expansion-panel *ngFor="let e of InError" class="panel">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{e.type}}
            </mat-panel-title>
            <mat-panel-description>
              {{e.data_short}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <Span>{{e.data_long}}</Span>
          <p>{{e.msg}}</p>

          <button mat-icon-button [disabled]="disabledGuage"
            aria-label="delete"
            style="position: absolute; top: 48px; right: 0;"
            (click)="this.firebaseService.deleteError(e.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-expansion-panel>
      </ng-template>
      <ng-template #Error>
        <div *ngIf="spinner!=0" style="
          margin: auto;
          color: var(--mat-expansion-header-description-color);
          padding: 0 0 0 16px;">
          There are no errors :)
        </div>
      </ng-template>
    </mat-accordion>
  </div>

  <div class="card graph">
    <h4 style="margin: 0">Indoor</h4>
    <app-line-chart
        code="Chart"
        [dati]="InChart"
        labelX="x"
        [color]="colorDefault"></app-line-chart>
  </div>

  <div class="card graph--big" >
    <h4 style="margin: 0">Historical</h4>
    <app-column-chart
        code="historicalChart"
        [dati]="historical | getHistoricalChart"
        labelX="x"
        [color]="colorDefault"></app-column-chart>
  </div>

</div>
