.info-menu{
  padding: 10px 30px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-progress-bar{
  z-index: 100;
  position: absolute;
}

.mat-toolbar{
  box-shadow: 0px 20px 40px -6px rgb(39 76 119 / 16%);
  position: fixed;
  background: var(--bg-card);
  top: 0;
  z-index: 60;
}

.spinner-container{
  width: 36px;
  height: 48px;
  padding: 14px 6px 10px;
}

.spinner-container mat-spinner{
  margin-top: 1px;
  margin-left: 2px;
}

::ng-deep .tooltip{
  font-size: 12px !important;
  max-width: unset !important;
  text-align: left !important;
}

::ng-deep .tooltip div{
  text-align: left !important;
}

::ng-deep .mat-mdc-menu-panel{
  background-color: var(--bg-card) !important;
  box-shadow: 1px 4px 10px 3px rgb(0 0 0 / 10%) !important;
  border-radius: 10px !important;
}

.container-fluid{
  padding-top: 80px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  max-width: 1040px;
}
@media (max-width: 890px){
  .container-fluid{
    grid-template-columns: 50% 50%;
    max-width: 700px;
  }
}
@media (max-width: 599px){
  .container-fluid{
    margin: 10px;
    justify-items: center;
    grid-template-columns: 100%;
  }
}

.card{
  margin: 20px;
  padding: 18px;
  border-radius: 10px;
  background: var(--bg-card);
  position: relative;
  box-shadow: 2px 6px 10px 1px rgb(0 0 0 / 10%);
  transition: all 0.5s;
  min-width: 200px;
}
@media (max-width: 599px){
  .card{
    width: 100%;
    max-width: 330px;
  }
}

mat-chip-option{
  height: 34px;
}

.info-container{
  margin: 10px 0 0;
}

/*.info-container{
  padding-top: 12px;
}

.mat-mdc-chip {
  border-radius: 10px;
}

.button_chip{
  margin: 2px 4px 4px;
  height: 36px;
  min-width: 0;
  padding: 0px 13px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}*/

.programmazione{
  grid-column-start: 3;
  grid-row: 1 / 3;
}
@media (max-width: 890px){
  .programmazione{
    grid-column-start: 1;
    grid-row: 2 / 3;
  }
}
@media (max-width: 599px){
  .programmazione{
    grid-column-start: 1;
    grid-row: 2 / 2;
  }
}

.button_add{
  position: absolute;
  bottom: 15px;
  right: 15px;
  /*border-radius: 18px !important;*/
  font-weight: 500;
  transform: scale(0.80);
  box-shadow: none !important;
}

.button_modify{
  margin: 3px 6px;
  border-radius: var(--mdc-chip-container-shape-radius);
}

.button_meteo{
  margin: auto 5%; width: 90%;
  box-shadow: none !important;
  border-radius: var(--mdc-chip-container-shape-radius);
}
/*::ng-deep .button_meteo span{
  font-weight: 500;
}*/

.graph{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2 / 4;
}
@media (max-width: 890px){
  .graph{
    grid-row: 3 / 4;
  }
}
@media (max-width: 599px){
  .graph{
    grid-column: 1 / 1;
    grid-row: 4 / 5;
  }
}

.graph--big{
  grid-column: 1 / 4;
}
@media (max-width: 890px){
  .graph--big{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 599px){
  .graph--big{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row: 5 / 6;
  }
}

.box-slider{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-radio{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin: 3px auto;*/
}

mat-accordion mat-expansion-panel-header, table{
  background: var(--bg-card);
}

mat-accordion mat-expansion-panel{
  box-shadow: none;
}

.panel{
  border-top: 1px rgb(224, 224, 224) solid;
}

mat-expansion-panel-header{
  padding: 0px 16px;
  height: 52px;
}

mat-panel-title,
mat-panel-description{
  font-weight: 400;
}

.mat-expansion-panel{
  background: var(--bg-card);
}

.mat-column-star {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.cursor-pointer{
  cursor: pointer;
}


