<div class="main-form">

  <h3>Sign In</h3>

  <form #homeform="ngForm" class="form">

    <mat-form-field appearance="outline" hideRequiredMarker=true>
      <mat-label>Email</mat-label>
      <input type="email" name="email" matInput required #userEmail placeholder="Ex. pat@example.com">
    </mat-form-field>

    <mat-form-field appearance="outline" hideRequiredMarker=true>
      <mat-label>Password</mat-label>
      <input name="password" matInput required #userPassword type='password'>
      <!--<button mat-icon-button type='button' color="primary" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>-->
    </mat-form-field>

    <!-- Calling SignIn Api from AuthService -->

    <button mat-flat-button type="submit" (click)="authService.SignIn(userEmail.value, userPassword.value)">Login</button>
  </form>

  <div class="formGroup">
    <span routerLink="/forgot-password" class="forgotPassword">Forgot Password?</span>
  </div>

  <div class="formGroup">
    <span class="or"><span class="orInner">Or</span></span>
  </div>

  <!-- Continue with Google -->
  <div class="formGroup">
    <button
      type="button"
      class="googleBtn"
      (click)="authService.GoogleAuth()"
      mat-stroked-button
    >
      <span class="googleIcon" alt="google-icon"></span>
      <span>Continue with Google</span>
    </button>
  </div>

  <div class="redirectToLogin">
    <span>Don't have an account? <span class="redirect" routerLink="/register">Sign Up</span></span>
  </div>
</div>

