<div class="main-form">

    <h3>Sign In</h3>

    <form #homeform="ngForm" class="form"
      (ngSubmit)="authService.SignIn(userEmail.value, userPassword.value)">

      <mat-form-field class="white" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput required #userEmail placeholder="Ex. pat@example.com">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" name="password" matInput required #userPassword>
      </mat-form-field>

      <!-- Calling SignIn Api from AuthService -->

      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>

    <div class="formGroup">
      <span routerLink="/forgot-password" class="forgotPassword">Forgot Password?</span>
    </div>

    <div class="formGroup">
      <span class="or"><span class="orInner">Or</span></span>
    </div>

    <!-- Continue with Google -->
    <div class="formGroup">
      <button
        type="button"
        class=" googleBtn"
        (click)="authService.GoogleAuth()"
        mat-stroked-button
      >
        <span class="googleIcon" alt="google-icon"></span>
        <span>Continue with Google</span>
      </button>
    </div>

  <div class="redirectToLogin">
    <span>Don't have an account? <span class="redirect" routerLink="/register">Sign Up</span></span>
  </div>
</div>

