<div class="chart-container">
  <canvas id="{{code}}">{{ chart }}</canvas>
</div>

<div class="container-button-chart">
  <button mat-stroked-button [disabled]="disabled" class="button_chart" (click)="increase()"
    matTooltip="Zoom Out"
    matTooltipClass="tooltip"
    matTooltipPosition="below"
    matTooltipShowDelay="0"
    matTooltipHideDelay="0">
    <mat-icon>zoom_out</mat-icon>
    Increase</button>
  <button mat-stroked-button [disabled]="disabled" class="button_chart" (click)="decrease()"
    matTooltip="Zoom In"
    matTooltipClass="tooltip"
    matTooltipPosition="below"
    matTooltipShowDelay="0"
    matTooltipHideDelay="0">
    <mat-icon>zoom_in</mat-icon>
    Decrease</button>
</div>
