/*   TINO   */

html{ height: 100%; }

body{
  --text-white: #fff;
  --text-gray: #bbb;
  --text-dark: #274C77;

  --bg-main: #E7ECEF;
  --bg-card: #fcfcfd;
  --bg-red-ligth: #FF210D;
  --bg-blue-dark: #274C77;

  --height-header: 50px;
  --height-banner: 42px;
  --height-img: 32px;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 90%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-main);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

.brand-logo{
  height: 48px;
  width: 48px;
  padding: 5px;
}

.rounded-circle {
  border-radius: 50%;
}

.img-navbar{
  transform: scale(1.55);
}

/* Responsive */
@media (max-width: 599px) {
  .img-navbar{
    transform: scale(1.4);
  }
  .brand-logo{
    padding: 7px;
  }
}

.app-spacer {
  flex: 1 1 auto;
}


/*   LOGIN   REGISTER    */

.main-form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto 10px;
}

.mdc-text-field{
  background-color: white !important;
  border-radius: 3px !important;
}

.mat-mdc-form-field-infix {
  padding-top: 19px !important;
}

.forgotPassword {
  color: #4dd5fe;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
}

.or {
  text-align: center;
  display: block;
  margin: 9px 0 0px;
}

.orInner {
  background: var(--bg-main);
  display: inline-block;
  z-index: 4;
  position: relative;
  padding: 0 12px;
}

.or:before {
  position: absolute;
  content: "";
  left: 0;
  top: 17px;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

.googleBtn{
  height: 42px !important;
  width: 100%;
  border: 0px;
  background: #FFF !important;
  margin: 20px auto 10px;
}

.googleBtn span{
  padding: 0;
}
.googleBtn .mdc-button__label span{
  margin-left: 30px;
}

.googleIcon{
  position: absolute;
  left: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  margin-left: 0px !important;
  background-image: url(/assets/Google_G.svg);
  background-size: 100%;
}

.redirectToLogin {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  display: block;
  color: var(--text-dark);
}

.redirectToLogin .redirect {
  cursor: pointer;
  color: var(--text-dark);
  text-decoration: underline;
}



/* scrollbar */

::-webkit-scrollbar {
  /*display: none;*/
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
