/*** tino tino theming - colors ***/

.rs-tooltip{
  user-select: none;
  font-weight: 700;
  text-align: left;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rs-control{height: 160px !important; z-index: 0;}
